.App {
  text-align: center;
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable mandatory snap scrolling vertically */
}

/* Define snap points for each section */
.Hero {
  scroll-snap-align: start; /* Snap to the start of Hero section */
}

.Cake {
  scroll-snap-align: start; /* Snap to the start of Cake section */
}


   