.timeline-section {
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%;

}
.timeline-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.timeline {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #ddd;
  overflow-x: auto;
}

.timeline-item {
  flex: 0 0 auto;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  margin: 0 5px;
  white-space: nowrap;
}

.timeline-item.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.details {
  margin-top: 20px;
}

.details img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .timeline-container {
    width: 90%;
  }

  .timeline {
    padding: 10px;
  }

  .timeline-item {
    padding: 5px;
    margin: 0 2px;
  }
}

@media (max-width: 480px) {
  .timeline-container {
    width: 100%;
  }

  .timeline-item {
    padding: 3px;
    margin: 0 1px;
  }

  .details p {
    font-size: 14px;
  }
}
